#orarend{
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
    border: color black solid , 1px;
    }
    .szegely{
        border: 10px;
        color: black;
    }